PolyglotPal_KimRozenberg\PolyglotPal_KimRozenberg\bin
PolyglotPal_KimRozenberg\PolyglotPal_KimRozenberg\obj
PolyglotPal_KimRozenberg\vs.

.vs/
PolyglotPal_KimRozenberg/obj/*
PolyglotPal_KimRozenberg/obj/

PolyglotPal_KimRozenberg/bin/*
PolyglotPal_KimRozenberg/bin/

# specific files

 PolyglotPal_KimRozenberg/bin/Debug/PolyglotPal_KimRozenberg.dll
 PolyglotPal_KimRozenberg/bin/Debug/PolyglotPal_KimRozenberg.pdb