C:\Users\user\Downloads\Prog-20230912T073525Z-001\Prog\PolyglotPal_KimRozenberg\PolyglotPal_KimRozenberg\bin
C:\Users\user\Downloads\Prog-20230912T073525Z-001\Prog\PolyglotPal_KimRozenberg\PolyglotPal_KimRozenberg\obj
C:\Users\user\Downloads\Prog-20230912T073525Z-001\Prog\PolyglotPal_KimRozenberg\vs.

.vs/
PolyglotPal_KimRozenberg/obj/